<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SpringMVC</display-name>
  <!-- 首先配置SpringMVC的servlet -->
  <servlet>
  	<servlet-name>SpringApplication</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/conf/web-context.xml</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SpringApplication</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>log4j</filter-name>
  	<filter-class>sch.web.filter.LogFilter</filter-class>
  	<init-param>
  		<param-name>location</param-name>
  		<param-value>H:/webapp/Log4j.properties</param-value>
  	</init-param>  	
  </filter>
  <filter-mapping>
  	<filter-name>log4j</filter-name>
  	<url-pattern>/</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>